#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
sudo apt install -y \
	curl \
	node \
	npm

npm install -g @bitwarden/cli
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
# Install Brew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
brew tap homebrew/cask
brew tap homebrew/cask-versions

# Install Bitwarden CLI
brew install bitwarden-cli
{{ end -}}
